/*body {

}*/
/*.container{
	width:1200px;
	margin:0 auto;
}*/

.collapse{
	width:1200px;
	margin:0 auto;
}

/*.albumnav{
	float:left;
	display:inline-block;
}*/

/*.fblogin {
	float:right;
	display:inline-block;
	margin-left: 8px;
	margin-top: 11px;

}*/

.facebook_login_redirect{
	display:inline-block;
}



.album-wrapper{
	clear:both;
	float:left;
}
.album-grid li{
	float:left;
	display:block;
	overflow:hidden;
	border: 5px solid #fff;
	margin: 7px;
	height: 180px;
	width: 240px;
}
.albumdetail{
	float:left;
	display:block;
	margin: 7px;
	height: 180px;
	width: 240px;
	margin-bottom:80px;
}

.imageadd{
	float:left;
	display:inline-block;
	margin-bottom:40px;
}


#choosebtn{
	float:left;
	display:inline-block;
	margin-left:47px;
}
#addbtn{
	float:left;
	display:inline-block;
}

.albumlist{
	clear:both;
	float:left;
	display:inline;
}


.albumdelet, .albumorder, .albumshare{

	float:left;
	display:inline;
	margin-right: 10px;

}

.form-control {
	width: 400px;
}
.list-group-item{
	width:600px;
}
.form-signin .form-control {
	width: 200px;
}


.carousel{
	width:700px;
}


/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the fotosynteesihome gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.fotosynteesihome {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.fotosynteesihome .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
.header{
	margin-top:20px;
}


  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the fotosynteesihome for visual effect */
  .fotosynteesihome {
    border-bottom: 0;
  }
}

body{
/*background: red; */
background: url(winter.jpg) no-repeat center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.container{
  background-color:rgba(255,255,255,0.8);
}
.nav-pills>.active>a{
background-color: #FF9473;
}


#register{
	width:210px;
	margin:0 auto;
	text-align: center;

}
.btn-large{
	margin-top: 10px;
}
.form-control{
	margin-bottom:15px; 
}

.text-muted{
}

#fototitle{
	color: #8D8F91;
}

#fototitle:hover{

	text-decoration:none;
}

#left, #right{
	float: left;
	display: inline;
	margin-left: 20px;
}
/*#left{
	margin-left: 20px;
}*/

#result1{
	color:red;
}
#result2{
	color:blue;
}


/*below code reference from: http://jsfiddle.net/circle73/gqSaq/3/*/

#gallery { float: left; width: 100%; min-height: 12em; }
.gallery.custom-state-active { background: #eee; }
.gallery li { list-style: none;float: left; width: 96px; padding: 0; margin: 2.5em 0.4em 1em 3em; text-align: center; }
.gallery li a { float: right; }
.gallery li a.ui-icon-zoomin { float: left; }
.gallery li img { width: 100%; height: 70px; cursor: move; }
.gallery li a img{ cursor:pointer;}

#trash{ height: 365px; width:480px;background: transparent;border:1px solid #e1e1e8;border-radius: 4px;}

#trash1, #trash2, #trash3, #trash4, #trash5{float:left;height:200px; width:260px;background: transparent;border:1px solid #e1e1e8;border-radius: 4px;}
#trash, .first-row, .second-row, .imagepool{display:inline-block;}
#trash5{float:left;height:100px; width:100px;background: transparent;border:2px solid #e1e1e8;border-radius: 4px;}
.photoaddclass{float:left;display: inline;}