body, html 
{font-size: 12px;
}
#container {
	width: 810px; margin: 0 auto 0 auto;
}
#loader {
	margin: 20px 0 40px 350px;
}
.image-container {
	height: 180px; width: 240px; position: relative; float: left; margin: 0 20px 20px 0; background-color: #666; border: 5px solid #fff; overflow: hidden;
}
.image-info {
	display: none;
}
.image-info-active {
	height: 180px; width: 240px; background: rgba(255,255,255,.85);
}


