input {
    display: block;
}

#wrapper {
    position: absolute;
    left: 10%;
    right: 0;
    top: 30%;
    bottom: 0;
    /*overflow: auto;*/
    height: 490px;
    padding: 17px;
    margin: 9px;
}

.outer {
    float: left;
    width: 240px;
    height: 200px;
    display: table-cell;
    vertical-align: middle;
}

.inner {
    float: left;
    width: 240px;
    height: 200px;
    display: table-cell;
    vertical-align: middle;
}

#inner-or-box {
    float: left;
    text-align: center;
    width: 99px;
    height: 200px;
    padding-top: 107px;;
    margin: 9px;
    display: table-cell;
    vertical-align: middle;
}

#fblogin {
    margin-top: 102px;
}