<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/album.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/flickr.css' %}"/>
        <link rel="shortcut icon" href="{% static 'css/f_black.ico' %}">
        <script type="text/javascript" src="{% static 'js/flickr.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/carousel.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/album.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
        {% block head %}
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="container">
            
            <h1>500 Internal server ERROR!</h1>



            {% block content %}{% endblock %}

            <div class="footer">
                <p>&copy; group-42 2014</p>
            </div>

        </div>
    </body>
</html>