{% extends 'base.html' %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
{% endblock %}



{% block title %}About{% endblock %}

{% if user.is_authenticated%}
  {% block navbar-active-about1 %}active{% endblock %}
{% else %}
  {% block navbar-active-about2 %}active{% endblock %}
{% endif %}

{% block content %}

	<div class="fotosynteesihome">
        <p class="lead">This is a album project website in <em>Web Software Development</em> course in Aalto University.</p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">

          <h4>Author: Jun Liu</h4>
          <p>reid.liujun@gmail.com</p>

          <h4>Contributor: Erik Enomaa</h4>
          <p>e.enomaa@umiami.edu.</p>

          


        </div>

        
    </div>

	
{% endblock %}
