{% extends 'base.html' %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
{% endblock %}

{% block title %}Image List{% endblock %}
{% block navbar-active-album %}active{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-lg-12">
<!-- 			<div class="page-header">
			  <h1>Welcome to the Album project</h1>
			</div> -->
		<!-- List of uploaded images -->
<!-- Upload form. Note enctype attribute! -->

			<div class="imageadd">
				<form action="{% url "albumdetail" albumtitle=albums.title %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<p>{{ form.non_field_errors }}</p>
					<p>{{ form.imgfile.label_tag }} {{ form.imgfile.help_text }}</p>

					<p id='choosebtn'>
						{{ form.imgfile.errors }}
						{{ form.imgfile }}
					</p>
					<p id='addbtn'><input type="submit" value="Add" /></p>
				</form>
			</div>

			<div class="album-wrapper">
				{% if images %}
					<ul class="album-grid">
					{% for image in images %}
		<!-- 				<li><a href="{{ image.imgfile.url }}">{{ image.imgfile.name }}</a></li> -->
						<li>
							<a href="{{ image.remote_path }}">
								<img src="{{ image.remote_path }}" height="180" width="240">
							</a>
						</li>
					{% endfor %}
					</ul>
				{% else %}
					<p>No images.</p>
				{% endif %}
			</div>

		
		
		</div>


		</div>
{% endblock %}
