{% extends 'base.html' %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
{% endblock %}

{% block title %}Album List{% endblock %}
{% block navbar-active-album %}active{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-lg-12">


			<div class="albumadd">
				<form role="form" action="{% url "album_form" %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-group">
					    <label for="inputtitlename">Input title name:</label>
					    <input type="text" class="form-control" name="title" id="albumadd_title" required placeholder="Enter Album Title">
					    <div id="result1">
					    	{{message}}
						</div>
						<div id="result2">
						</div>
					</div>
					<input class="btn btn-default" type="submit" value="Add" /></p>
				</form>
				
			</div>

		<!-- 	{% if albums %}
				<ul class="album-grid">
				{% for album in albums %}
					<p>
						{{album.title}}
					</p>
				{% endfor %}
				</ul>
			{% else %}
					<p>No albums.</p>
			{% endif %} -->
		
		
		
		</div>


	</div>
{% endblock %}
