{% extends 'base.html' %}

{% block head %}
{% load staticfiles %}
{% endblock head %}

{% block title %}Album List{% endblock title %}
{% block navbar-active-album %}active{% endblock navbar-active-album %}

{% block content %}

	<div class="row">
		<div class="col-lg-12">

<!-- 			<div class="albumadd">
				<form action="{% url "album" %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<LABEL for="title">title: </LABEL>
              		<INPUT type="text" name="title" id="title">
					<p id='addbtn'><input type="submit" value="Add" /></p>
				</form>
			</div> -->
			<div class="album-wrapper">
				{% if albums %}
					{% for album in albums %}
				
					<div class="albumdetail">
						<div class="setLinkDiv">
							<a class="setLink" href="/album/{{album.title}}">
								<img class="setThumb" src="" width="240" height="180" >
							</a>
						</div>

						<div class="setText">
															
							<a class="Seta"  href="" title={{album.title}} style="height:100%">
								<h4>{{album.title}}</h4>		
							</a>
		<!-- 					<ul class="sets-cta">
							<li><a href="#" data-setId="72157640089485324" class="bookmakerIcon" title="Make a book!">Make a book</a></li>
							</ul> -->
						</div>
					</div>
					{% endfor %}
				
					
				{% endif %}		
				


				<div class="albumadd">

					<div class="setLinkDiv"><a class="setLink" href="/album_form"><img class="setThumb" src="{% static 'images/scribble-photo-album-icon.png' %} " alt="Add New Album" height="180" width="240"/></a></div>
					<div class="setText">
						<a class="setLink" href="/album_form">
							<h2>+</h2>
							<h4>Add New Album</h4>
						</a>
					</div>
				</div>

			</div>
		
		</div>


	</div>
{% endblock content %}
