{% extends 'base.html' %}

{% block head %}
{% load staticfiles %}
{% endblock head %}

{% block title %}Album List{% endblock title %}
{% block navbar-active-album %}active{% endblock navbar-active-album %}

{% block content %}

	<div class="row">
		<div class="col-lg-12">


			<div class="album-wrapper">
				<h4>{{albums.title}}</h4>	
				{% if albums %}
					{% for album in albums %}
				
					<div class="albumdetail">
						<div class="setLinkDiv">
							<a class="setLink" href="/album/{{album.title}}">
								<img class="setThumb" src="{% static 'images/scribble-photo-album-icon.png' %}" width="240" height="180" >
							</a>
						</div>
						<div class="textlist">
							<div class="setText">													

								<a class="Seta"  href="/album/{{album.title}}" title={{album.title}} style="height:100%">
									<h4>{{album.title}}</h4>		
								</a>
			<!-- 					<ul class="sets-cta">
								<li><a href="#" data-setId="72157640089485324" class="bookmakerIcon" title="Make a book!">Make a book</a></li>
								</ul> -->
							</div>
								
							<div class="albumdelet">
								<a class="delete"  href="/album/delete/{{album.title}}" title="delete" style="height:100%">
									<h4>delete</h4>		
								</a>
							</div>

							<div class="albumorder">
								<a class="order"  href="/album/{{album.title}}/order" title="order" style="height:100%">
									<h4>order</h4>		
								</a>
							</div>
						</div>

					</div>
					{% endfor %}
				
					
				{% endif %}		
				


				<div class="albumadd">

					<div class="setLinkDiv"><a class="setLink" href="/album_form"><img class="setThumb" src="{% static 'images/scribble-photo-album-icon.png' %}" alt="Add New Album" height="180" width="240"/></a></div>
					<div class="setText">
						<a class="setLink" href="/album_form">
							<h2>+</h2>
							<h4>Add New Album</h4>
						</a>
					</div>
				</div>

			</div>
		
		</div>


	</div>
{% endblock content %}
