{% extends 'base.html' %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
{% endblock %}

{% block title %}Album List{% endblock %}
{% block navbar-active-album %}active{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-lg-12">


			<div class="albumorder" id="{{album.title}}">
				<form role="form" action="{% url "order_submit" albumtitle=album.title%}" method="post" enctype="multipart/form-data">
					
					{% csrf_token %}
					<div class="form-group">
						<p><label for="first_name">Firstname:</label> <input class="form-control" type="text" name="firstname" value="Jun" id="first_name" placeholder="Firstname"/></p>
						<p><label for="last_name">Lastname:</label> <input class="form-control" type="text" name="lastname" value="Liu" id="last_name" placeholder="Lastname" /></p>
						<p><label for="street_address">Street Address:</label> <input class="form-control" type="text" name="street_address" value="JMT 10E" id="street_address" placeholder="Street Address" /></p>
						<p><label for="post_code_and_city">Post code and city:</label> <input class="form-control" type="text" name="post_code_and_city" value="02150, ESPOO" id="post_code_and_city" placeholder="Post code and city" /></p>
						<p><label for="country">Country:</label> <input class="form-control" type="text" name="country" value="Finland" id="country" placeholder="Country" /></p>
						<p><label for="number">Number of album:</label> <input class="form-control" type="text" name="number" value="10" id="number" placeholder="Number of album" /></p>
						<input class="btn btn-default" type="submit" value="Order"/>
					</div>

				</form>
			</div>

		<!-- 	{% if albums %}
				<ul class="album-grid">
				{% for album in albums %}
					<p>
						{{album.title}}
					</p>
				{% endfor %}
				</ul>
			{% else %}
					<p>No albums.</p>
			{% endif %} -->
		
		
		
		</div>


	</div>
{% endblock %}
