{% extends 'base.html' %}

{% block head %}
{% load staticfiles %}
{% endblock head %}

{% block title %}{{ album.title }}{% endblock title %}
{% block navbar-active-album %}active{% endblock navbar-active-album %}

{% block content %}

			<div class="row">
				{% if pages %}
					{% for page in pages %}
				
					<div class="col-xs-6 col-md-3">
						<div class="setLinkDiv">
							<a class="thumbnail" href="/album/{{album.title}}/page/{{page.number}}">
								<img class="setThumb" src="{% static 'images/scribble-photo-album-icon.png' %}" width="240" height="180" >
							</a>
						</div>

						<div class="setText">
															
							<a class="Seta"  href="/album/{{album.title}}/page/{{page.number}}" style="height:100%">
								<h4>Page: {{page.number}}</h4>		
							</a>
		<!-- 					<ul class="sets-cta">
							<li><a href="#" data-setId="72157640089485324" class="bookmakerIcon" title="Make a book!">Make a book</a></li>
							</ul> -->
						</div>
							
						<div class="pagedelet">
							<a class="delete"  href="/album/{{album.title}}/page/{{page.number}}/delete" title="delete" style="height:100%">
								<h4>delete</h4>		
							</a>
						</div>

					</div>
					{% endfor %}
				
					
				{% endif %}		
				


				<div class="col-xs-6 col-md-3">

					<div class="setLinkDiv"><a class="thumbnail" href="/album/{{album.title}}/page/{{next_page}}/layout"><img class="setThumb" src="{% static 'images/layout-icon.png' %}" alt="Add New Page" height="180" width="240"/></a></div>
					<div class="setText">
						<a class="setLink" href="/album/{{album.title}}/page/{{next_page}}/layout">
							<h2 title="Add a new page to your album.">+</h2>
						</a>
					</div>
				</div>

			</div>
		
		

{% endblock content %}
