<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/album.css' %}"/>
        {% block head %}
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-default" role="navigation">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <div class="albumnav">
                    <ul class="nav navbar-nav">
                        <li class="{% block navbar-active-home %}{% endblock %}"><a href="/home/">Home</a></li>

                        {% if user.username %}

                        <li class="{% block log-in-auth %}{% endblock %}"><a href="/login/">{{ user.username }}</a></li>

                        {% else %}

                        <li class="{% block log-in %}{% endblock %}"><a href="/login/">Login</a></li>

                        {% endif %}

                        <li class="{% block log-out %}{% endblock %}"><a href="/logout/">Logout</a></li>

                        {% if not user.is_authenticated %}

                        <div class="fblogin">
                            <!--form to call registration via facebook -->
                            <form action="{% url 'facebook_connect' %}" method="post">
                                {% csrf_token %}
                                <div id="facebook_login_redirect">
                                    <input type="image" src="{{ STATIC_URL }}django_facebook/images/facebook_login.png" /><br />
                                </div>
                            </form>
                        </div>

                        {% endif %}

                    </ul>
                </div>
            </div><!-- /.navbar-collapse -->
        </nav>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    </body>
</html>