{% extends 'base.html' %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
{% endblock %}

{% block content %}
<div id= "login" class="container">
    <form class="form-signin" action="." method="post">{% csrf_token %}
        <h2 class="form-signin-heading">Sign in</h2>
        <p class="text-danger">{{ message }}</p>
        <input type="text" required class="input-block-level" placeholder="Username" name="username">
        <input type="password" required class="input-block-level" placeholder="Password" name="password">
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
        <br><br><a href='/register/'>Don't have an account yet?</a>
    </form>
</div>
{% endblock %}