{% extends 'base.html' %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
{% endblock %}

{% block title %}Image List{% endblock %}
{% block navbar-active-photo %}active{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-lg-12">
<!-- 			<div class="page-header">
			  <h1>Welcome to the Album project</h1>
			</div> -->
		<!-- List of uploaded images -->
<!-- Upload form. Note enctype attribute! -->

<!-- 			<div class="imageadd">
				<form action="{% url "photo" %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<p>{{ form.non_field_errors }}</p>
					<p>{{ form.imgfile.label_tag }} {{ form.imgfile.help_text }}</p>

					<p id='choosebtn'>
						{{ form.imgfile.errors }}
						{{ form.imgfile }}
					</p>
					<p id='addbtn'><input type="submit" value="Add" /></p>
				</form>
			</div> -->

			{% if images %}
			<div id="myCarousel" class="carousel slide" >
				  <!-- Indicators -->

				  <div class="carousel-inner">
				  	
					  	{% if images|length == 1 %}
					  		{% for image in images %}
					    	<div class="active item" ><img src="{{ image.remote_path }}"  height="180" width="700"/></div>
					    	{% endfor %}
					    {% else %}
					    	{% for image in images %}
						  		{% if image.id == var %}
						    		<div class="active item" ><img src="{{ image.remote_path }}"  height="180" width="700"/></div>
						    	{% else %}
						    		<div class="item" ><img src="{{ image.remote_path }}"  height="180" width="700"/></div>
						    	{% endif %}
					    	{% endfor %}
					    {% endif %}
				    
				  </div>

				 <!-- Wrapper for slides -->
<!-- 				  <div class="carousel-inner">
				    <div class="item active">
				      <img src="..." alt="...">
				      <div class="carousel-caption">
				      </div>
				    </div>
				  </div> -->
							<!-- Controls -->
				<a class="left carousel-control" data-slide="prev" href="#myCarousel"><span class="icon-prev"></span></a>
				<a class="right carousel-control" data-slide="next" href="#myCarousel"><span class="icon-next"></span></a>
				 
			</div>
			{% endif %}
		</div>


		</div>


		<div class="imagepool" >

				<ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix photoaddclass">
				{% if images %}
							
							{% for image in images %}
				  <li class="ui-widget-content ui-corner-tr"  id="{{ image.id }}">
				      <img src="{{ image.remote_path }}" width="96" height="72" />
				     
				  </li>
				   {% endfor %}
						
						{% else %}
							<p>No images.</p>
						{% endif %}
				       
				</ul>

				<form class="photoaddclass" role="form" action="{% url "photo" %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-group photoadd-form">
					    
					    <label for="enterphotourl">Enter a photo URL: </label>
					    
					    <input type="text" name="imgurl" size="40">
					    <br>
					    <input class="btn btn-default" type="submit" value="Add">
					</div>

				</form>



				<div id="trash5" class="col-md-9 col-md-push-3 ui-widget-content grid_8 trash photoaddclass">
					<h5>Drag and delete here!</h5>	
				</div>
		</div>

{% endblock %}
